/* 
    Document   : handheld
    Created on : 03/06/2010, 18:21:14
    Author     : Tiago
    Description:
        Purpose of the stylesheet follows.
*/

/* 

*/
#dPrincipal{
    margin: 0px;
    background-color: #ffcc66;
}
#dPropaganda {
    display: none;
}
#dTitulo h1{
    background-color: #3399ff;
}
#dBusca .linkBotaoBusca{
    display: none;
}
